{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">

<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>SGO - Login</title>
        <!-- Favicon-->
        <link rel="icon" href="../../favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core Css -->
        <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

        <!-- Waves Effect Css -->
        <link href="{% static 'plugins/node-waves/waves.css' %}" rel="stylesheet">

        <!-- Animation Css -->
        <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet">

        <!-- Custom Css -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body class="login-page">
        <div class="login-box">
            <div class="logo">
                <a><b>SGO</b></a>
                <small>Sistema de Gerenciamento de Ocorrências</small>
            </div>
            <div class="card">
                <div class="body">
                    <form id="sign_in" method="POST" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="msg">Digite suas credenciais para entrar</div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                {{ form.username|attr:'class: form-control'|attr:'placeholder: Usuario' }}
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                {{ form.password|attr:'class: form-control'|attr:'placeholder: Senha' }}
                            </div>
                        </div>

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                              <strong>Por favor, entre com um usuário e senha corretos. Note que ambos os campos diferenciam maiúsculas e minúsculas.</strong>
                            </div>
                        {% endif %}

                        <button class="btn btn-block bg-red waves-effect" type="submit">Entrar</button>

                        <div class="row m-t-15 m-b--20">
                            <div class="col-xs-6">
                            </div>
                            <div class="col-xs-6 align-right">
                                <a href="/contas/password_reset/">Esqueceu a senha?</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

        <!-- Jquery Core Js -->
        <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

        <!-- Bootstrap Core Js -->
        <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

        <!-- Waves Effect Plugin Js -->
        <script src="{% static 'plugins/node-waves/waves.js' %}"></script>

        <!-- Validation Plugin Js -->
        <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>

        <!-- Custom Js -->
        <script src="{% static 'js/admin.js' %}"></script>
        <script src="{% static 'js/pages/examples/sign-in.js' %}"></script>


    </body>
</html>
