{% extends 'sistema/simple.html' %}
{% load i18n static %}

{% load widget_tweaks %}



{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1|add_class:"form-control" }}
    </div>
    <br>
    <blockquote class="m-b-25">
        <h6 class="font-italic col-pink">
         Sua senha não pode ser tão parecida com suas outras informações pessoais.<br>
         Sua senha precisa conter pelo menos 8 caracteres.<br>
         Sua senha não pode ser uma senha habitualmente utilizada.<br>
         Sua senha não pode ser inteiramente numérica.<br>
        </h6>
    </blockquote>

    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary m-t-15 waves-effect"><i class="material-icons">vpn_key</i><span>Alterar minha senha</span></button>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
