{% extends 'sistema/base.html' %}

{% load widget_tweaks %}

{% block title %}Editar chamado | {{ block.super }}{% endblock %}


{% block content %}

<div class="container-fluid">

        <div class="block-header">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'sistema:listarchamados' %}">
                        <i class="material-icons">record_voice_over</i> Chamados
                    </a>
                </li>
                <li class="active">
                    <i class="material-icons">edit</i> Editar Chamado
                </li>
            </ol>
        </div>

        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            EDITAR CHAMADO <b>{{ form.protocolo.value }} </b>
                        </h2>

                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">

                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="{{ form.statusChamado.auto_id }}">{{ form.statusChamado.label }}</label>
                                        <div class="form-line">
                                            {{ form.statusChamado|add_class:"form-control"}}
                                        </div>
                                        {{ form.statusChamado.errors }}

                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                        </div>
                                        <label for="id_prioridade"> Prioridade </label>
                                        {{ form.prioridade|add_class:"js-range-slider" }}
                                        {{ form.prioridade.errors }}
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <!--Modal Button-->
                                            <button type="button" class="btn btn-default waves-effect m-r-20 col-sm-12"
                                                    data-toggle="modal" data-target="#largeModal">Eventos do chamado
                                            </button>
                                            <div class="alert bg-red">
                                                <b>Ultimo Evento: </b>{{ view.ultimoEvento.dataCadastro }} - {{ view.ultimoEvento.descricaoEvento }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <br>
                            <hr>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="categoria_id">{{ form.categoriaProblema.label }}</label>
                                        <div class="">
                                            {{form.categoriaProblema|add_class:"form-control selectpicker"|attr:"data-live-search=true data-width=100%"}}
                                            {{ form.categoriaProblema.errors }}
                                        </div>
                                        {{ form.categoriaProblema.errors }}
                                    </div>
                                </div>
                            </div>


                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <div class="demo-switch-title">O problema envolve uma área comum: Ex: PISCINA,
                                            CALÇADA.
                                        </div>
                                        <div class="switch">
                                            <label>{{ form.envolveAreaComum|add_class:"form-check-label check-area"}}<span
                                                    class="lever switch-col-red"></span></label>
                                        </div>
                                        <br>

                                        <div class="col-sm-12 menu-area" hidden>
                                            <div class="form-group">
                                                <label for="area_id"> Area </label>
                                                <div class="">
                                                    {{form.areaComum|add_class:"form-control selectpicker"|attr:"data-live-search=true data-width=100%"}}
                                                    {{ form.areaComum.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row-clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="usuario_id">Selecione o proprietario</label>
                                        <div class="">
                                            {{form.usuario|add_class:"form-control selectpicker"|attr:"data-live-search=true data-width=100%"}}
                                            {{ form.usuario.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="apartamento_id">Selecione o apartamento do proprietario</label>
                                        <div class="">
                                            {{form.apartamento|add_class:"form-control selectpicker"|attr:"id=apartamento_id data-live-search=true data-width=100%"}}
                                            {{ form.apartamento.errors }}
                                            <p id="garantiaApto"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="{{ form.descricao.auto_id }}">{{ form.descricao.label }}</label>
                                        <div class="form-line">
                                            {{ form.descricao|add_class:"form-control"}}
                                        </div>
                                        {{ form.descricao.errors }}
                                    </div>
                                </div>
                            </div>


                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="{{ form.img.auto_id }}">{{ form.img.label }}</label>
                                        <div class="form-line">
                                            {{ form.img|add_class:"form-control"}}
                                        </div>
                                        {{ form.img.errors }}
                                    </div>
                                </div>
                            </div>



                            <button type="submit" class="btn btn-primary m-t-15 waves-effect"><i class="material-icons">save</i><span>SALVAR</span></button>
                            <a class="btn btn-danger m-t-15 waves-effect" style="background-color: red; border-color: red;" href="{% url 'sistema:deletarchamado' chamado.pk %}" onclick="return confirm('Você tem certeza?');">
                                <i class="material-icons">delete</i>
                                <span>DELETAR</span>
                            </a>


                        </form>
                    </div>
                </div>
            </div>
        </div>




    <!--MODAL DOS EVENTOS-->
    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" aria-labelledby="exampleModalLongTitle">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">Eventos do chamado</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr class="danger">
                              <th> Data </th>
                              <th> Evento </th>
                              <th> Ações </th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for evento in view.eventos %}
                            <tr>
                              <th> {{ evento.dataCadastro }} </th>
                              <th> {{ evento.descricaoEvento }} </th>
                              <th>

                                  <a href="{% url 'sistema:deletareventochamado' evento.pk %}" type="button" class="btn bg-red waves-effect" onclick="return confirm('Você tem certeza?');">
                                    <i class="material-icons">delete</i>

                                </a>
                              </th>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                    <br><hr>

                    <form action="{% url 'sistema:cadastrareventochamado' %}" method="POST">
                        {% csrf_token %}
                        <input name="chamado" value="{{ form.initial.id }}" style="display:none">
                        <div class="row clearfix">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label for="descricaoEvento_id">Adicionar evento</label>
                                    <div class="form-line">
                                        <input class="form-control" id="descricaoEvento_id "type="text" name="descricaoEvento" required placeholder="Descreva o evento">
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <div class="form-control">
                                        <button type="submit" class="btn btn-primary m-t-15 waves-effect"><i class="material-icons">add</i><span>ADICIONAR</span></button>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">FECHAR</button>
                </div>
            </div>
        </div>
    </div>




</div>



{% endblock %}


{% block scripts %}
<script type="text/javascript">
      var cadastrar = true;

      $( ".check-area" ).change(function() {
            let status = $('.check-area').is(':checked');
            if(status == !true){
                $(".menu-area").fadeOut()
                $("#area_id").val('');
                $('.selectpicker').selectpicker('refresh');  //Atualiza os selectpickers

            }else{
                $(".menu-area").fadeIn()
            }
       });

        $( document ).ready(function() {
            var selectbox = $('#apartamento_id');
            selectbox.find('option').css('display', 'none');
            $('.selectpicker').selectpicker('refresh');  //Atualiza os selectpickers


            $("#id_prioridade").ionRangeSlider({
                skin: "round",
                grid: false,
                grid_num: 5,
                min: 1,
                max: 5,
                max_postfix: " Máxima",
                prefix: "Prioridade: ",

            });
        });

</script>


{% endblock %}
