{% extends 'sistema/base.html' %}

{% block title %}Chamados | {{ block.super }}{% endblock %}

{% block content %}
        <li class="breadcrumb-item active">Chamados</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="centerbuttons">
        <a class="btn btn-primary" href="{% url 'sistema:cadastrarchamado' %}" >Cadastrar novo chamado</a>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Chamados</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Protocolo</th>
                  <th>Data de cadastro</th>
                  <th>Interação</th>
                  <th>Status</th>
                  <th>Empreendimento</th>
                  <th>Solicitante</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Protocolo</th>
                  <th>Data de cadastro</th>
                  <th>Interação</th>
                  <th>Status</th>
                  <th>Empreendimento</th>
                  <th>Solicitante</th>
                </tr>
              </tfoot>
              <tbody>
                {% for chamado in chamados %}
                    <tr>
                        <td><a href="{{ chamado.get_absolute_url }}">{{ chamado.protocolo }}</a></td>
                        <td>{{ chamado.dataCadastro }}</td>
                        <td>{{ chamado.dataInteracao }}</td>
                        <td>{{ chamado.statusChamado }}</td>
                        <td>{{ chamado.apartamento.bloco.empreendimento }}</td>
                        <td>{{ chamado.nome }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{% endblock %}