{% extends 'sistema/base.html' %}

{% load widget_tweaks %}

{% block title %}Editar usuário | {{ block.super }}{% endblock %}

{% block content %}
        <li class="breadcrumb-item">
          <a href="{% url 'sistema:listarusuarios' %}">Usuários</a>
        </li>
        <li class="breadcrumb-item active">Editar usuário</li>
      </ol>
      <div class="row">
        <div class="col-12">
            <form action="" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.first_name.label }}
                        {{ form.first_name|add_class:"form-control"}}
                        {{ form.first_name.errors }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.last_name.label }}
                        {{ form.last_name|add_class:"form-control"}}
                        {{ form.last_name.errors }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.username.label }}
                        {{ form.username|add_class:"form-control"}}
                        {{ form.username.errors }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.email.label }}
                        {{ form.email|add_class:"form-control"}}
                        {{ form.email.errors }}
                    </div>
                </div>

                <div class="form-control">
                    <div class="form-check">
                        <h6 class="text-danger">Se a caixa abaixo estiver marcada, o usuário terá acesso ao adminstrativo.</h6>
                        <hr>
                        {{ form.is_staff|add_class:"form-check-label"}}
                        {{ form.is_staff.label }}
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12"><br>
                        Para mudar a senha <a href="/usuarios/editarusuario/{{ user.pk }}/mudarsenha">clique aqui</a>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-12"><br>
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <a class="btn btn-primary" style="background-color: red; border-color: red;" href="{% url 'sistema:deletarusuario' user.pk %}" onclick="return confirm('Você tem certeza?');">Deletar</a>

                    </div>
                </div>



            </form>
        </div>
      </div>

{% endblock %}