{% extends 'sistema/base.html' %}

{% block title %}Usuários | {{ block.super }}{% endblock %}

{% block content %}


<div class="container-fluid">

    <div class="block-header">
            <ol class="breadcrumb">

                <li class="active">
                    <i class="material-icons">people</i> Usuários
                </li>
            </ol>
    </div>

    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>

                        <a class="btn bg-blue" href="{% url 'sistema:cadastrarusuario' %}" >
                            <i class="material-icons">add</i>
                            <span>Novo</span>
                        </a>


                    </h2>

                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Login</th>
                                    <th>Membro da equipe</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Login</th>
                                    <th>Membro da equipe</th>
                                </tr>
                            </tfoot>
                            <tbody>

                            {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.first_name }}</td>
                                <td><a href="/usuarios/editarusuario/{{ usuario.id }}">{{ usuario.email }}</a></td>
                                <td><a href="/usuarios/editarusuario/{{ usuario.id }}">{{ usuario.username }}</a></td>

                                <td>

                                    {% if usuario.is_staff %}
                                        <span class="new badge bg-green">Sim</span>
                                    {% else %}
                                        <span class="new badge bg-red">Não</span>

                                    {% endif %}
                                </td>

                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #END# Exportable Table -->
</div>
{% endblock %}


