{% extends 'sistema/base.html' %}

{% block title %}Usuários | {{ block.super }}{% endblock %}

{% block content %}
        <li class="breadcrumb-item">
          <a href="{% url 'sistema:listarusuarios' %}">Usuários</a>
        </li>
        
      </ol>
      <!-- Example DataTables Card-->
      <div class="centerbuttons">
        <a class="btn btn-primary" href="{% url 'sistema:cadastrarusuario' %}" >Cadastrar novo usuário</a>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Lista dos Usuários</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Login</th>
                  <th>Administrador</th>
                </tr>
              </thead>
              <tfoot>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Login</th>
                  <th>Administrador</th>
                </tr>
              </tfoot>
              <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.first_name }}</td>
                        <td><a href="{{ usuario.get_absolute_url}}{{ usuario.id }}">{{ usuario.email }}</a></td>
                        <td>{{ usuario.username }}</td>
                        <td>                         
                          
                          {% if usuario.is_staff %}
                            <a href="#" class="badge badge-success">Sim</a>
                          {% else %}
                            <a href="#" class="badge badge-danger">Não</a> 
                          {% endif %}
                        </td>
                        
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{% endblock %}