{% extends 'sistema/base.html' %}

{% load widget_tweaks %}

{% block title %}Cadastrar subcategoria de problema | {{ title.super }}{% endblock %}

{% block content %}
        <li class="breadcrumb-item">
          <a href="{% url 'sistema:categoriasdeproblemas' %}">Categorias dos problemas</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'sistema:subcategoriasdeproblemas' %}">Subcategorias dos problemas</a>
        </li>
        <li class="breadcrumb-item active">Cadastrar subcategoria</li>
      </ol>
      <div class="row">
        <div class="col-12">
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
                        <div class="col-md-9">
                            {{ field.errors }}
                            {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
      </div>
    </div>
{% endblock %}