{% extends 'sistema/base.html' %}

{% load widget_tweaks %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="block-header">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'sistema:categoriasdeproblemas' %}">
                    <i class="material-icons">report_problem</i> Categorias dos Problemas
                </a>
            </li>

            <li class="active">
                <i class="material-icons">add</i> Nova Categoria
            </li>
        </ol>
    </div>

    <!-- Vertical Layout -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        EDITAR CATEGORIA
                    </h2>
                </div>
                <div class="body">

                    <form method="POST">
                        {% csrf_token %}

                        <label for="{{ form.nomeCategoria.auto_id }}">{{ form.nomeCategoria.label }}</label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form.nomeCategoria|add_class:"form-control"}}
                            </div>
                            {{ form.nomeCategoria.errors }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect"><i class="material-icons">save</i><span>SALVAR</span></button>

                        <a class="btn btn-danger m-t-15 waves-effect" style="background-color: red; border-color: red;" onclick=msgDelete("{% url 'sistema:deletarcategoriadeproblema' categoria.pk %}") >
                            <i class="material-icons">delete</i>
                            <span>DELETAR</span>
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
