{% extends 'sistema/base.html' %}

{% block title %}Problemas | {{ block.super }}{% endblock %}

{% block content %}
        <li class="breadcrumb-item">
          <a href="{% url 'sistema:categoriasdeproblemas' %}">Categorias dos problemas</a>
        </li>
        <li class="breadcrumb-item active">Problemas</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="centerbuttons">
        <a class="btn btn-primary" href="{% url 'sistema:cadastrarproblema' %}" >Cadastrar novo problema</a>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Lista dos problemas</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Data de cadastro</th>
                  <th>Problema</th>
                  <th>Prioridade</th>
                  <th>Subcategoria</th>
                  <th>Categoria</th>
                </tr>
              </thead>
              <tfoot>
                  <th>Data de cadastro</th>
                  <th>Problema</th>
                  <th>Prioridade</th>
                  <th>Subcategoria</th>
                  <th>Categoria</th>
                </tr>
              </tfoot>
              <tbody>
                {% for problema in problemas %}
                    <tr>
                        <td>{{ problema.dataCadastro }}</td>
                        <td><a href="{{ problema.get_absolute_url }}">{{ problema.nomeProblema }}</a></td>
                        <td>{{ problema.prioridade }}</td>
                        <td>{{ problema.subcategoria }}</td>
                        <td>{{ problema.subcategoria.categoria }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{% endblock %}