{% extends 'sistema/base.html' %}

{% block title %}Empreendimentos | {{ block.super }}{% endblock %}

{% block content %}
      <li class="breadcrumb-item active">Empreendimentos</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="centerbuttons">
        <a class="btn btn-primary" href="{% url 'sistema:cadastrarempreendimento' %}" >Cadastrar novo empreendimento</a>
        <a class="btn btn-primary" href="{% url 'sistema:listarblocos' %}" >Gerenciar blocos</a>
        <a class="btn btn-primary" href="{% url 'sistema:listarapartamentos' %}" >Gerenciar apartamentos</a>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Lista dos empreendimentos</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Data de cadastro</th>
                  <th>Empreendimento</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Data de cadastro</th>
                  <th>Empreendimento</th>
                </tr>
              </tfoot>
              <tbody>
                {% for empreendimento in empreendimentos %}
                    <tr>
                        <td>{{ empreendimento.dataCadastro }}</td>
                        <td><a href="{{ empreendimento.get_absolute_url }}">{{ empreendimento.nomeEmpreendimento }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{% endblock %}