{% extends 'sistema/base.html' %}

{% block title %}Apartamentos | {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="block-header">
        <ol class="breadcrumb">

            <li>
                <a href="{% url 'sistema:listarempreendimentos' %}">
                    <i class="material-icons">business</i> Empreendimentos
                </a>
            </li>

            <li class="active">
                <i class="material-icons">nature</i> Áreas Comuns
            </li>
        </ol>
    </div>

    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <a class="btn bg-blue" href="{% url 'sistema:cadastrarareacomum' %}">
                            <i class="material-icons">add</i>
                            <span>Nova Área Comum</span>
                        </a>
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                            <tr>
                                <th>Data de cadastro</th>
                                <th>Área</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <th>Data de cadastro</th>
                            <th>Área</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for area in areasComuns %}
                            <tr>
                                <td>{{ area.dataCadastro }}</td>
                                <td><a href="{{ area.get_absolute_url }}">{{ area.nomeArea }}</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

